.messageUpdateButton{
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
    margin-left: 680px;
}

.messageCancelButton {
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
    margin-left: 10px;
}

.messageDeleteButton {
	font-family: Dosis, sans-serif;
    text-decoration: underline;
	color: #55628f;
	font-size: 12px;
	border: 0px #D7CFE4 solid;
	background: linear-gradient(180deg, #D7CFE4 9%, #D7CFE4 100%);
	text-shadow: 0px 1px 0px #D7CFE4;
	box-shadow: inset 0px 0px 2px 0px #D7CFE4;
	cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

.messageEditButton {
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
    /* margin-left: 340px;      */
}

.messageSaveButton {
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
	margin-left: 420px;

}

.newMessageButton {
	font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
	margin-left: 90%;
}

.message-section-flex{
	flex-basis: 15%;
    margin: 10px;
    margin-right: 0px;
    padding: 0.5em;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
	padding-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 160;
    justify-content: space-around;
    background-color: #D7CFE4;
    border-radius: 25px;
	margin-top: 40px;

}

.message__time {
	padding-bottom: 10px;
}



h4 {
	font-weight: 160;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
}

#messageLog {
	outline: none;
    font-family: Dosis, sans-serif;
    border-radius: 5px;
    font-size: 15px;
    padding: 150px 50px; 
    margin-top: 40px;
    align-items: flex-start;
    cursor: pointer;
	display: inline-flex;
	margin-left: 200px;
	margin-right: 20px;
	border-style: solid;
   border-width: 7px;
   border-image: linear-gradient(45deg, #D7CFE4, #55628f) 1;
}
	

.messageContainer{
	display: flex;
}
