.messageUpdateButton{
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
    margin-left: 340px;
}

.messageCancelButton {
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
    margin-left: 340px;
}

.messageDeleteButton {
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
    margin-left: 340px;  
}

.messageEditButton {
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
    margin-left: 340px;     
}

.messageSaveButton {
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
   margin-left: 70%;   
}