
.journal-section {
    flex-basis: 15%;
    margin: 10px;
    margin-right: 0px;
    padding: 0.5em;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 160;
    justify-content: space-around;
    background-color: #D7CFE4;
    border: 1.5px dotted #55628f;
    border-radius: 25px;
}



.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buttonDelete {
    font-family: Dosis, sans-serif;
    text-decoration: underline;
	color: #55628f;
	font-size: 12px;
	border: 0px #D7CFE4 solid;
	background: linear-gradient(180deg, #D7CFE4 9%, #D7CFE4 100%);
	text-shadow: 0px 1px 0px #D7CFE4;
	box-shadow: inset 0px 0px 2px 0px #D7CFE4;
	cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 350px;
}

.button:hover {
	background: linear-gradient(180deg, #f6f6f6 9%, #ffffff 100%);
}

.buttonSubmit {
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-right: 10px;
    margin-top:15px;
}

.buttonCancel {
    font-family: Dosis, sans-serif;
    text-decoration: underline;
	color: black;
	font-size: 12px;
	border: 0px #55628f solid;
	/* padding: 20px 18px; */
	background: linear-gradient(180deg, #55628f 9%, #55628f 100%);
	text-shadow: 0px 1px 0px #55628f;
	box-shadow: inset 0px 0px 2px 0px #55628f;
	cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 400px;
}

.buttonEdit{
    font-family: Dosis, sans-serif;
	color: #55628f;
	font-size: 15px;
	border-radius: 5px;
	border: 1px #dcdcdc solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
	text-shadow: 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 2px 0px #ffffff;
	cursor: pointer;
	align-items: center;
    margin-top:15px;
    margin-left: 340px;
}

.buttonEntry
    {
        font-family: Dosis, sans-serif;
        color: #55628f;
        font-size: 15px;
        border-radius: 5px;
        border: 1px #dcdcdc solid;
        padding: 10px 18px;
        background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
        text-shadow: 0px 1px 0px #ffffff;
        box-shadow: inset 0px 0px 2px 0px #ffffff;
        cursor: pointer;
        align-items: center;
        margin-right: 10px;
        margin-top:15px;
    }

    .buttonSave {
     
            font-family: Dosis, sans-serif;
            color: #55628f;
            font-size: 15px;
            border-radius: 5px;
            border: 1px #dcdcdc solid;
            padding: 10px 18px;
            background: linear-gradient(180deg, #ffffff 9%, #f6f6f6 100%);
            text-shadow: 0px 1px 0px #ffffff;
            box-shadow: inset 0px 0px 2px 0px #ffffff;
            cursor: pointer;
            margin-right: 10px;
            margin-top:15px;

    }

    .newEntryButton {
       margin-left: 90%;
    }

    .submitButton {
        display: flex;
        justify-content: space-around;
    }

    .saveButton {
        display: flex;
        justify-content: space-around;
    }
