.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.logo {
    width: 100px;
    /* margin: 50px 80px; */
}

.logo__img {

    margin-right: 250px;
    


    
}